<select name="singleSelect" [ngModel]="cards" materialize="material_select"
        (change)="updateCard($event)">
    <option value="" [disabled]="!isDefault" selected [value]="-1">{{translator.cardTypeSelector}}</option>
    <option *ngFor="let card of cards"
            [attr.data-icon]="'images/'+getCardImage(card.cardType)"
            class="left"
            [value]="card.creditCardId">
        {{card.customCardName.trim()}}
    </option>
</select>
<label *ngIf="!isDefault">Select Card</label>