<div class="container top-container cards">
    <div class="search">
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <i class="material-icons prefix search">search</i>
                    <input id="search-field">
                </div>
            </div>
        </div>
    </div>
    <h5>{{translator.cardsPageTitle}}</h5>
    <div class="plastic-card" *ngFor="let card of cards">
        <card-item [card]="card"></card-item>
    </div>
    <div *ngIf="cards == undefined || cards.length == 0">
        <div class="empty">
            <h5>{{translator.cardsPageEmptyTitle}}</h5>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large gray" routerLink="/new-card">
        <i class="large material-icons">add</i>
    </a>
</div>