<div class="col m12 s12 l12" *ngIf="card">
    <div class="card horizontal" [ngClass]="{'paused':card.isPaused}">
        <div class="card-image">
            <img [src]="'images/'+getCardImage(card.cardType)">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <div class="header">
                    <h5 class="card-name">{{card.customCardName}}</h5>
                </div>
                <p>{{translator.ownerTitle}}: {{card.ownerFullName}}</p>
            </div>
            <div class="card-action">
                <a class="settings">Номер карты: {{card.cardNumber}}</a>
                <a class="remove" (click)="removeCard()">Удалить карту</a>
            </div>
        </div>
        <!--<div class="item-pause-banner">-->
            <!--<img [src]="'images/'+settings.itemPauseImage" class="pause-button">-->
            <!--<img [src]="'images/'+settings.itemPlayImage" class="play-button">-->
        <!--</div>-->
    </div>
</div>
<card-remove-confirm [card]="card" [modalAction]="modalAction" (cardOnDelete)="deleteCardFromList($event)"></card-remove-confirm>