<div class="row">
    <div class="input-field col s12 m6 l6">
        <input id="month" type="number" class="validate"
               [formControl]="getControl('moneyPerMonth')">
        <label for="month">{{translator.editTaskMonthSumPlaceholder}}</label>
        <error-field [expression]="validateControl('moneyPerMonth')"
                     [text]="'Task Month Sum required'"></error-field>
    </div>
    <div class="input-field col s12 m6 l6">
        <input id="sum" type="number" class="validate"
               [formControl]="getControl('moneyTarget')">
        <label for="sum">{{translator.editTaskTotalSumPlaceholder}}</label>
        <error-field [expression]="validateControl('moneyTarget')"
                     [text]="'Task Total Sum required'"></error-field>
    </div>
</div>
<div>
    <task-types [endDate]="getTargetEndDate()" (taskTypeChange)="updateTaskType($event)"></task-types>
</div>
