<div class="container task-container">
    <div class="task-description">
        <div class="title">
            <h3>ММОД</h3>
        </div>
        <div class="row">
            <div class="col s12 m7 l8">
                <div class="progress-container">
                    <p class="title">Прогресс по лабораторным:</p>
                    <div class="progress">
                        <progress value="50" max="100" class="blue"></progress>
                        <span class="progress-title percent">50%</span>
                        <span class="progress-title value">50 / 100</span>
                    </div>
                </div>
                <div class="description">
                    <p class="title">О преподавателе <i class="material-icons">repeat</i></p>
                    <p>- В 1976 году окончила Минский радиотехнический институт по специальности «Электронные
                        вычислительные машины».
                        <br>
                        - Работала инженером, ассистентом, доцентом; с 1997 года - доцент кафедры информатики, а с 2014
                        года - заведующий кафедрой информатики.
                        <br>

                        - Сфера научных интересов - имитационные модели сложных систем, системы автоматизации
                        моделирования.
                        <br>

                        - Опубликовано более 100 научных и учебно-методических работ, в том числе 19 изобретений.
                    </p>
                </div>
            </div>
            <div class="col s12 m5 l4">
                <div class="deposit-type-view">
                    <img src="images/volorova.jpg">
                </div>
                <div class="complete">
                    <button class="btn waves-effect waves-light blue">
                        <i class="material-icons right">send</i>Сообщения
                    </button>
                </div>
            </div>
            <div class="col s12 m12 l12 history">
                <p class="title">Сданные лабораторные:</p>
                <div class="history-table">
                    <table class="striped centered">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Номер Лабораторной</th>
                            <th>Оценка</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>23.9.2017</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>12.10.2017</td>
                            <td>2</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Value 1</td>
                            <td>Value 2</td>
                            <td>Value 3</td>
                        </tr>
                        <tr>
                            <td>Value 1</td>
                            <td>Value 2</td>
                            <td>Value 3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>