<div class="container top-container tasks">
    <div class="search">
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <i class="material-icons prefix search">search</i>
                    <input id="search-field">
                </div>
            </div>
        </div>
    </div>
    <h5>{{translator.tasksPageTitle}}</h5>
    <ul class="collection">
        <task-item [card]="getCardForTask(task.creditCardId)" *ngFor="let task of tasks" [task]="task"></task-item>
    </ul>
    <div *ngIf="tasks == undefined || tasks.length == 0">
        <div class="empty">
            <h5>{{translator.tasksPageEmptyTitle}}</h5>
        </div>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large gray" routerLink="/new-task">
        <i class="large material-icons">add</i>
    </a>
</div>