body {
    color: #03A9F4;
}

.main-container.full .colored {
    background: rgba(23, 146, 255, 0.55);
    background: linear-gradient(to right, #f2fcfe, #95CBFF, #f2fcfe);
}

.main-container .colored {
    background: linear-gradient(to right, #f2fcfe, #95CBFF, #f2fcfe);
}

textarea.valid,
input.valid {
    border-bottom: 1px solid #d0d234 !important;
    box-shadow: 0 1px 0 0 #d0d234 !important;
}

textarea:focus:not([readonly]),
input:focus:not([readonly]) {
    border-bottom: 1px solid #bbbd30 !important;
    box-shadow: 0 1px 0 0 #bbbd30 !important;
}

textarea:focus:not([readonly]) + label,
input:focus:not([readonly]) + label {
    color: #bbbd30 !important;
}

div.main-container .login-container form {
    border-color: #e3e3e3;
    background-color: #FFFFFF;
}

nav.main-nav {
    color: #03A9F4;
    background-color: #FFFFFF !important;
    box-shadow: 0 0 16px 0 #b6b6b9;
}

.collection .collection-item {
    background-color: #FFFFFF;
}

nav.main-nav div.col.menu .collection .collection-item p.description {
    color: #bbbd30;
}

nav.main-nav div.col.menu .collection .collection-item:hover {
    background-color: #eeeeee;
}

footer.page-footer {
    background-color: #0288D1;
}

p.description {
    color: #7eafe1;
    text-align: center;
}

.card .card-action a,
.card .card-action a:hover {
    color: #607dbf !important;
}

a.remove,
button.remove,
div.plastic-card div.card-action  a.remove {
    color: #ff331f !important;
}

div.card:hover:not(.paused) div.item-settings {
    color: #b6b6b9;
}

div.card:hover:not(.paused) div.item-settings:hover {
    color: #607dbf;
}

.btn-floating.btn-large {
    background-color: #b6b6b9;
}

.btn-floating.btn-large:hover {
    background-color: #607dbf;
}

div.plastic-card .card  .card-stacked  .card-content  p {
    color: #bbbd30;
}

p.warning {
    color: #b6b6b9;
}

button.btn.btn-default {
    color: #ffffff;
    background-color: #bbbd30;
}

button.btn-flat {
    color: #bbbd30;
}

button.btn.btn-default.confirm {
    color: #ffffff !important;
    background-color: #2196F3 !important
}

button.btn.btn-default.confirm[disabled] {
    background-color: #DFDFDF !important;
    color: #9F9F9F !important;
}

.picker__date-display {
    background-color: #2196F3 !important;
}

div.alert {
    background-color: rgba(255, 0, 3, 0.15);
    border: 1px solid rgba(255, 0, 3, 0.68);
}

.task-type-selector ul.collapsible li.inactive,
.task-type-selector ul.collapsible li.inactive .material-icons {
    color: #b6b6b9 !important;
}

li.collection-item p {
    color: #bbbd30;
}

li.collection-item .content .material-icons {
    color: #607dbf;
}

li.collection-item .after {
    background: rgba(104, 104, 104, 0.14);
}

li.collection-item .before {
    background: rgba(60, 224, 0, 0.41);
}

li.collection-item.paused div.task-pause {
    color: #ff331f;
}

.task-key {
    color: #9F9F9F;
}

.task-value {
    color: #9F9F9F;
}

.task-value span {
    color: #2196F3;
}

.heading p {
    color: #bbbd30;
}

p.description span.yellow {
    color: #bbbd30 !important;
    background-color: transparent !important;
}

p.description span.blue {
    color: rgba(0, 8, 180, 0.85) !important;
    background-color: transparent !important;
}

.top-container.coming-soon h5 {
    color: #9F9F9F;
}

.search {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

input.select-dropdown {
    color: #9e9e9e;
}

.table-wrapper,
div.task-description {
    background-color: #ffffff;
}

div.task-description .title {
    background: #03A9F4;
    color: #FFFFFF;
}

div.task-description .title p{
    color:#B3E5FC;
}

.transactions-table tbody td,
div.history tbody td,
div.task-description .description p {
    color: #757575;
}

.transactions-table thead th,
div.history p:first-child,
div.history thead th,
.description.card-description .deposit-type-view p,
div.task-description .description p span {
    color: #212121;
}

.task-description .tabs .tab a:hover,
.task-description .tabs .tab a.active {
    background-color: transparent;
    color: #0288D1;
}

.task-description .tabs .tab a {
    color: #BDBDBD;
}

.task-description .tabs .indicator{
    background-color: #0288D1;
}

div.task-description progress::-webkit-progress-bar {
    background-color: #FFFFFF;
}

div.task-description progress::-webkit-progress-value {
    background-color: #FFFFFF;
}

div.task-description progress.blue::-webkit-progress-value {
    background-color: #B3E5FC;
}

.progress-title{
    color: #0288D1;
}

.blue {
    background-color: #03A9F4 !important;
}

.task-type-icon{
    color: #ffffff;
}

.description.progress-description .deposit-type-view span{
   background-color: transparent !important;
}

.table-wrapper .transactions-table td.transaction-status.pause,
.description.progress-description .deposit-type-view span.red{
   color: #ff3d3d !important;
}

.table-wrapper .transactions-table td.transaction-status.retried,
.description.progress-description .deposit-type-view span.yellow{
   color: #fff135 !important;
}

.table-wrapper .transactions-table td.transaction-status.valid,
.description.progress-description .deposit-type-view span.green{
   color: #5eff69 !important;
}

div.task-description table {
    background-color: transparent;
}

.description.card-description .edit-controls > i {
    color: #fff135 !important;
}

.page-header{
    color: #0288D1;
}

.empty{
    color: #757575;
}

my-app{
    background: linear-gradient(to right, #f2fcfe, #95CBFF, #f2fcfe);
}

.task-type-settings{
    color: #757575;
}