<p class="radio">Select Auth type</p>
<div class="col s6 m6 l6 radio">
    <input name="group1" type="radio" id="radio-email" class="with-gap blue"
           [(ngModel)]="authType"
           [value]="0"
           (ngModelChange)="updateAuthType(0)"/>
    <label for="radio-email">Почта</label>
</div>
<div class="col s6 m6 l6 radio">
    <input name="group1" type="radio" id="radio-telephone" class="with-gap blue"
           [(ngModel)]="authType"
           [value]="1"
           (ngModelChange)="updateAuthType(1)"/>
    <label for="radio-telephone">Телефон</label>
</div>